body {
    margin: 0;
    padding: 0;
    font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    color: #333333;
}

.all-contents {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

.page-hero {
    display: flex;
    width: 60%;
    justify-content: center;
}

.page-hero-left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.page-hero-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}

.page-hero-right-contents {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.anchors {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.left-side-anchor {
    display: flex;
    gap: 10px;
    margin-left: 50px;
}

.anchor-items {
    display: flex;
    gap: 20px;
    margin-right: 50px;
}

.anchor-li {
    text-align: center;
    color: teal;
}

.anchor-li:visited {
    text-align: center;
    color: rgb(0, 90, 90);
}

.anchor-li:hover {
    text-align: center;
    color: rgb(0, 62, 62);
    text-decoration: underline
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: 400;
}

ul {
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 0;
    margin-top: 0;
}

a {
    text-decoration: none;
}

.page-updated {
    display: flex;
    justify-content: center;
    color: #AAAAAA;
    margin-right: 30px
}

.img {
    border-radius: 20px;
    box-shadow: 6px 5px 15px #AAAAAA;
    width: 70%;
}

.button {
    margin-top: 5px;
    background-color: teal;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #AAAAAA;
    color: white;
}

.button:hover {
    background-color: rgb(0, 95, 95);
}

.header {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.sub-header {
    margin-bottom: 10px;
}

.about-p {
    margin: 0 px;
    margin-top: 2px;
    padding: 0px;
}

iframe {
    margin-top: 10px;
    background-color: #EEEEEE;
    border-radius: 10px;
    padding: 5px;
}

ul {
    margin-top: 10px;
}

.personal-image {
    transition: 0.3s;
}

.personal-image:hover {
    cursor: pointer;
    box-shadow: 10px 5px 15px #999999;
    transition: 0.3s;
}

.iframe {
    border: none;
}