body {
    margin: 0;
    padding: 0;
}

.all-contents {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

.page-hero {
    display: flex;
    overflow: hidden;
    width: 60%;
    justify-content: center;
}

.page-hero-left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.page-hero-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}

.page-hero-right-contents {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.headshot-img {
    width: 90%;
}

.anchors {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.left-side-anchor {
    display: flex;
    gap: 10px;
    margin-left: 50px;
}

.anchor-items {
    display: flex;
    gap: 20px;
    margin-right: 50px;
}

.anchor-li {
    background-color: white;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}

ul {
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 0;
    margin-top: 0;
}

a {
    text-decoration: none;
}

.page-updated {
    display: flex;
    justify-content: center;
    color: #AAAAAA;
    margin-right: 30px
}